/mvnw text eol=lf
*.cmd text eol=crlf
frontend/** linguist-vendored
node_modules/** linguist-vendored
*.json linguist-generated
*.yaml linguist-generated
*.lock linguist-generated
*.d.ts linguist-generated
*.java linguist-detectable=true